# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
*.exe
*.dll

# Logs & temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
~$*.pptx
~$*.docx

# IDEs & Editors
.vscode/
.idea/
.qodo/
